.Header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Header .title {
  font-size: 1.5em;
}

.Header .logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
